<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMPLEMENTASI ALGORITMA REGRESI LINEAR UNTUK
        MEMPREDIKSI HARGA RUMAH BERDASARKAN FITUR-FITUR
        PADA DATASET HOUSING PRICES</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>🏠 Prediksi Harga Rumah</h1>
        <form action="/predict" method="POST">
            <div class="form-grid">
                <label>Area (sq ft)</label>
                <input type="number" name="area" required>

                <label>Bedrooms</label>
                <input type="number" name="bedrooms" required>

                <label>Bathrooms</label>
                <input type="number" name="bathrooms" required>

                <label>Stories</label>
                <input type="number" name="stories" required>

                <label>Main Road</label>
                <select name="mainroad">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>

                <label>Guest Room</label>
                <select name="guestroom">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>

                <label>Basement</label>
                <select name="basement">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>

                <label>Hot Water Heating</label>
                <select name="hotwaterheating">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>

                <label>Air Conditioning</label>
                <select name="airconditioning">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>

                <label>Parking</label>
                <input type="number" name="parking" required>

                <label>Preferred Area</label>
                <select name="prefarea">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>

                <label>Furnishing Status</label>
                <select name="furnishingstatus">
                    <option value="furnished">Furnished</option>
                    <option value="semi-furnished">Semi-Furnished</option>
                    <option value="unfurnished">Unfurnished</option>
                </select>
            </div>
            <button type="submit">Prediksi Harga 💸</button>
        </form>

        <hr>
        <h3>{{ prediction_text }}</h3>
    </div>
</body>

</html>